@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
    }
    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    .card {
        max-width: 21em;
        margin: 1rem; /* without scaling */
        padding: 1em;
    }
}

@layer components {
    /* todo components */
    .card--marketer {
        border: 2px solid var(--border);
        border-radius: 1rem;
    }
    .card__title {
        color: var(--secondary);
        font-weight: 700;
        font-size: 2em;
    }
    .p__strong {
        color: var(--primary);
        font-weight: 700;
    }
    .main__strong {
        color: var(--primary);
        font-weight: 700;
        font-size: 2em;
    }
    .smaller__text {
        font-size: 0.8em;
    }
    .green--text {
        color: var(--primary);
        font-weight: 700;
    }
    .card__list {
        padding-left: 25px;
        list-style-type: none;
    }
    .li--check {
        list-style-image: url(../images/check.svg);
        padding: 0.5em;
    }
    .li--cross {
        list-style-image: url(../images/cross.svg);
        padding: 0.5em;
    }
    .card__main--price {
        margin-bottom: 0;
    }
    .card__main--price2 {
        margin-top: 0.2rem;
        margin-bottom: 3em;
    }




    .button {
        display: block;
        padding: 1.4em 2em;
        border-radius: 0.5rem;
        text-align: center;   
    }
    .button--green {
        background-color: var(--primary);
        color: white;
        text-decoration: none;
    }
}